@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>This website is created by Marble and Archie for their love of plants.</h2>
<h3>(Please call us Bobo and Archie Bear.)</h3>

<img src="~/Resources/babies.jpg" />
