@using Plants.Models;
@model  PlantModel
@{
    ViewData["Title"] = "Plants Index";
}


<body>
    <div>
        <div class="text-center row my-3" style="background-color:#9695B5;">
            <div class="col-md-5 p-1 mx-auto no-gutters">
                <h1 class="display-4 font-weight-normal">@ViewData["Title"]</h1>

            </div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#B8B8CB;">
            <div class="col">
                <div class="row mx-auto">
                    <div class="col">
                        
                        <br />
                    </div>
                </div>

                <div class="row">

                </div>

            </div>

        </div>

        <div class="row text-center py-4 my-3" style="background-color:#CDCDD9;">
            <div class="col-9 mx-auto">

                <div>

                </div>

                <div class="text-center mt-2">

                </div>
            </div>
        </div>
    </div>
</body>