@using Plants.Models;
@model PlantsIndexModel
@{
    ViewData["Title"] = "Plants Index";
}

<head>
    <style>
        img {
            max-width: 110%;
            max-height: 110%;
            display: block; /* remove extra space below image */
        }
    </style>
</head>

<body>
    <div>
        <div class="text-center row my-3" style="background-color:#9695B5;">
            <div class="col-md-5 p-1 mx-auto no-gutters">
                <h1 class="display-4 font-weight-normal">@ViewData["Title"]</h1>

            </div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#B8B8CB;">
            <div class="col-10 mx-auto">
                <table class="table table-bordered">
                    <tbody>
                        @foreach (var plant in Model.PlantsList)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <img src="~/Resources/@plant.ImageURI" />

                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <p>Common Name:  @plant.CommonName</p>
                                            </div>
                                            <div class="row">
                                                <p>Scientific Name:  @plant.ScientificName</p>
                                            </div>
                                            <div class="row">
                                                <p>Family:  @plant.Family</p>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#CDCDD9;">
            <div class="col-9 mx-auto">
                

            </div>
        </div>
    </div>
</body>